@font-face {
  font-family: "dm";
  src: url("./../assets/fonts/dm.ttf");
}

@font-face {
  font-family: "dmm";
  src: url("./../assets/fonts/dm_m.ttf");
}

@font-face {
  font-family: "dmmi";
  src: url("./../assets/fonts/dm_mi.ttf");
}

@font-face {
  font-family: "dmb";
  src: url("./../assets/fonts/dm_b.ttf");
}

@font-face {
  font-family: "dmd";
  src: url("./../assets/fonts/dm_d.ttf");
}

.dm { font-family: 'dm';}
.dmm { font-family: 'dmm';}
.dmmi { font-family: 'dmmi';}
.dmb { font-family: 'dmb';}
.dmd { font-family: 'dmd';}
